body{
    background-image: linear-gradient( to bottom right, rgba(80, 58, 32, 0.89), rgba(33, 112, 216, 0.808));
}
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul{
    list-style-type: none;
}
h3{
    text-align: center;
}
button{
 background-color:   rgba(243, 181, 67, 0.87);
 border-radius: 25px;
 
}
#resumeBtn{
    position: relative;
}

#myPic{
    width: 300px;
    height: 250px;
    float: left;
}
#aboutMe{
    background-image:linear-gradient(to bottom right,  rgba(255, 131, 48, 0.801),  rgba(94, 18, 144, 0.801));
    margin-top: 40px;
    padding: 5%;
    border-radius: 25px;
}

.aboutList{
    list-style-type: none;
    text-align: center;
   
}
#workRow{
    background-image:linear-gradient(to bottom right,  rgba(255, 131, 48, 0.801),  rgba(94, 18, 144, 0.801));
    border-radius: 25px;
    padding: 5%;
}
#a1Row{
    background-color: rgba(255, 131, 48, 0.801);
    border-radius: 25px;
    padding: 5%;
}
#contact{
    background-image:linear-gradient(to bottom right,  rgba(255, 131, 48, 0.801),  rgba(94, 18, 144, 0.801));
    border-radius: 25px;
    padding: 5%;
}
#Links{
    background-image:linear-gradient(to bottom right,  rgba(255, 131, 48, 0.801),  rgba(94, 18, 144, 0.801));
    border-radius: 25px;
    padding: 5%;
}
.sitePhoto{
    width: 400px;
    height: 300px;
    float: left;
}
#owPhoto{
    margin-right: 100px;
}

#owText{
    margin-right: 75px;
}
#listItems{
    float: left;
}
#imgText{
    float: left;
}
#imgGif{
    width: 300px;
    height:200px;
    float: left;
}

.linkBtn{
    float: left;
}
footer{
    
     text-align: center;
     margin: auto;
     margin-bottom: auto;
    
}